<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="nombre" class= "ruta"></bean> el nombre tiene que ser unico 
		nadie puede tener el mismo nombre (id) en cambio la ruta puede ser la misma 
		por ejemplo para crear dos bean diferentes de la misma clase -->

	<bean id="espadachin" scope="singleton"
		class="maquina1995.spring.basico.dominio.Espadachin"/>

	<bean id="mago" scope="prototype"
		class="maquina1995.spring.basico.dominio.Mago"/>


</beans>
