<?xml version="1.0" encoding="UTF-8"?>

<!-- Aqui se definen las reglas del xml (no se explicarlo bien) el caso es 
	que son necesarios para crear este application context sencillo -->


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- <bean id="nombre" class= "ruta"></bean> el nombre tiene que ser unico 
		nadie puede tener el mismo nombre (id) en cambio la ruta puede ser la misma 
		por ejemplo para crear dos bean diferentes de la misma clase -->

	<!-- <bean id="guerreroTerran" class= "es.cic.christian.ejemplospring.Terran"></bean> -->
	<!-- <bean id="guerreroProtos" class="es.cic.christian.ejemplospring.Protos"></bean> -->
	<context:component-scan base-package="es" />
	
	<!-- inyecta desde aqui(XML) un bean a traves del método set de la clase 
		GuerreroHabla el name hace referencia al atributo definido en esta clase 
		(GuerreroHabla) que se llama guerrero el ref local hace referencia al id 
		del bean que quieres inyectar -->
	<bean id="guerreroServices"
		class="es.cic.christian.ejemplospring.GuerreroHabla">
		
	</bean>
</beans>
